<!DOCTYPE html>
<html lang="{{ default "en" .Site.LanguageCode }}">

<head>
  <meta charset="utf-8" />
  <title>{{ if and (.Title) (not (eq .Title .Site.Title)) }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  <meta name="author" content="{{ .Site.Author.name }}" />
  {{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end -}}
  {{ if .Site.Params.schema }}{{ template "_internal/schema.html" . }}{{ end -}}
  {{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end -}}
  {{ hugo.Generator }}
  {{- with .Site.Home.OutputFormats.Get "RSS" }}
  {{- $rssLink := .RelPermalink }}
  <link href="{{ $rssLink }}" rel="{{ .Rel }}" type="application/rss+xml" title="{{ $.Site.Title }} Feed" />
  {{- with $.Page.OutputFormats.Get "RSS" }}
  {{- if ne $rssLink .RelPermalink }}
  <link href="{{ .RelPermalink }}" rel="{{ .Rel }}" type="application/rss+xml"
    title="{{ $.Site.Title }} {{ $.Title }} Feed" />
  {{- end }}
  {{- end }}
  {{- end }}
  {{- with .Site.Params.favicon | default "favicon.ico" }}
  {{- if resources.Get . }}
  {{- $favicon := resources.Get . | resources.Fingerprint }}
  <link rel="shortcut icon" href="{{ $favicon.RelPermalink }}" type="{{ $favicon.MediaType }}" />
  {{- else if fileExists (path.Join "static" .) }}
  {{- $favtype := cond (eq (path.Ext .) ".png") "image/png" "image/x-icon" }}
  <link rel="shortcut icon" href="{{ $.Site.BaseURL }}{{ . }}" type="{{ $favtype }}" />
  {{- end }}
  {{- end }}
  {{ "<!--[if lte IE 8]>" | safeHTML }}
  {{- $styleCompat := resources.Get "style-compat.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styleCompat.RelPermalink }}" />
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  {{- $style := resources.Get "style.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ "<!--<![endif]-->" | safeHTML }}
  {{- with .Site.Params.css }}
  {{- if resources.Get . }}
  {{- $styleCustom := resources.Get . | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styleCustom.RelPermalink }}" />
  {{- else if fileExists (path.Join "static" .) }}
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}" />
  {{- end }}
  {{- end }}
  {{- $script := resources.Get "script.js" | resources.Fingerprint }}
  <script defer src="{{ $script.RelPermalink }}"></script>
</head>

<body>
  <div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
    <div class="pure-u-22-24 pure-u-md-14-24">
      {{ partial "navbar.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
  </div>
</body>
{{ partial "katex.html" . }}

</html>